body {
  background-color: #ec185b;
  font-size: 2vmin;
  text-align: center;
  border: 7px dotted;
  margin: 0 auto;
  padding: 10px;
  width: 50vw;
  display: flex;
  flex: 1 1 0;
  flex-flow: column;
}

table, tr {
  border: 1px solid;
  border-collapse: collapse;
  margin: 0.5em;
  table-layout: fixed;
  align-self: center;
  width: 97.7%; /* the table is sentient and won't stop increasing to the right when scaled; very hacky 'fix' */
}

img {
  display: inline;
  align-self: center;
  max-width: 100%;
  object-fit: scale-down;
  image-rendering: pixelated;
}

a {
  color: black;
}

a:hover,
a:visited {
  color: #3b5870;
}

fieldset {
  border: 4px solid;
}

form {
  align-self: center;
  overflow: hidden;
  padding: 0;
}

legend {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 5vmin;
  max-width: 100%;
  text-align: left;
  margin: 0;
}

h1::before {
  content:"☞ ";
}

h2 {
  text-align: left;
  margin: 0;
}

h2 ~ p {
  text-align: left;
  text-wrap: wrap;
}

hr {
  color: black;
  border: 2px solid;
  margin: 0;
}
h2 + hr {
  border: 1px solid;
}

iframe {
  border: 2px solid;
  align-self: center;
}

.b {
  font-weight: bold;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr) );
  width: 50%;
  grid-row: span;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.enter {
  font-weight: bold;
  font-size: 5vmin;
  max-width: 100%;
}

.vid-con {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.vid-con iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}