@media (prefers-reduced-motion) {
  .lil-guy {
    animation: 0
  }
}

@keyframes dance {
  from {
    transform: scale(1);
  }

  to {
    transform: scaleY(0.5);
  }
}

body {
  background: #ec185b;
  font-size: 1rem;
  text-align: center;
  border: 7px dotted black;
  margin: 0 auto;
  padding: 10px;
  width: 50vw;
  display: flex;
  flex: 1 1 0;
  flex-flow: column;
}

table, tr {
  border: 1px solid;
  border-collapse: collapse;
  margin: 0.5em;
  table-layout: fixed;
  align-self: center;
  width: 97.7%; /* the table is sentient and won't stop increasing to the right when scaled; very hacky 'fix' */
}

img {
  align-self: center;
  max-width: 100%; /* should change to any variety of v_ units*/
  object-fit: scale-down;
}

img:hover {
  opacity: 0.8;
}

a {
  color: black;
}

a:hover,
a:visited {
  color: mediumslateblue;
}

fieldset {
  border: 4px solid;
}

footer {
  bottom: 5px;
  font-size: 5rem;
  position: fixed;
  left: 5px;
  z-index: -1;
}

form {
  align-self: center;
  overflow: hidden;
  padding: 0;
}

legend {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 5vmin;
  max-width: 100%;
  text-align: left;
  margin: 0;
}

h1::before {
  content:"☞ ";
}

h2 {
  text-align: left;
  margin: 0;
}

section > p {
  text-align: left;
  text-wrap: wrap;
}

hr {
  color: black;
  border: 2px solid;
  margin: 0;
}

h2 ~ hr {
  border: 1px solid;
  margin: 0 auto 0.5rem;
}

iframe {
  border: 2px solid;
  align-self: center;
}

.b {
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cw {
  filter: blur(0.25em);
}

.cw:hover {
  filter: blur(0);
  opacity: 1;
}

.enter {
  font-weight: bold;
  font-size: 5vmin;
  max-width: 100%;
}

.comment {
  border: 4px solid;
  margin: 2vh 3vw;
  padding: 0.5em;
  text-align: justify;
}

.left{
  float: left;
}

.lil-guy{
  animation: 0.25s infinite dance running 0.15s cubic-bezier(.38,.07,.26,.69) alternate;
}

.vid-con {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.vid-con iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.webring {
  width: 10em;
  align-self: center;
}