body {
  background-color: #ec185b;
  font-size: 2vmin;
  text-align: center;
  border: 7px dotted;
  margin: 0 auto;
  padding: 10px;
  width: 50vw;
  display: flex;
  flex: 1 1 0;
  flex-flow: column;
}

table, tr {
  border: 1px solid;
  border-collapse: collapse;
  margin: 0.5em;
  table-layout: fixed;
  align-self: center;
  width: 97.7%; /* the table is sentient and won't stop increasing to the right when scaled; very hacky 'fix' */
}

img {
  display: inline;
  align-self: center;
  max-width: 100%;
  object-fit: scale-down;
}

a {
  color: black;
}

a:hover,
a:visited {
  color: #3b5870;
}

fieldset {
  border: 4px solid;
}

legend {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 5vmin;
  max-width: 100%;
  text-align: left;
  margin: 0;
}

h1::before {
  content:"☞ ";
}

h2 {
  text-align: left;
  margin: 0;
}

h2 ~ p {
  text-align: left;
  text-wrap: wrap;
}

hr {
  color: black;
  border: 2px solid;
  margin: 0;
}
h2 + hr {
  border: 1px solid;
}

.bold {
  font-weight: bold;
}

.enter {
  font-weight: bold;
  font-size: 5vmin;
  max-width: 100%;
}