@import '/style/style.css';
body {
    background: url('/img/xtc.png');
    border: 7px dotted #eab750;
    color: #eab750;
}

a {
    color: #eab750;
}

a:hover,
a:visited {
    color: #fbefd2;
}

hr {
    color: #eab750;
}